html, body {
    height: 100%;
}

.main-wrapper {
    height: 100%;
}
.main {
}

.gallery {
  padding-top: 3rem;
  position: relative;
  margin: 0 auto;
  width: 340px;
  min-height: 240px;
  height: 240px;
  max-height: 100%;
  transform-style: preserve-3d;
  animation: rotate 90s linear infinite;
}

@keyframes rotate {
  from {
    transform: perspective(1200px) rotateY(0deg);
  }

  to {
    transform: perspective(1200px) rotateY(360deg);
  }
}

.particles-js-canvas-el {
    position: fixed;
    top: 0;
    z-index: -1;
}

.gallery span {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(440px);
}

.gallery span img {
  position: absolute;
  width: 100%;
  height: 100%;
  width: 340px;
  min-height: 240px;
  -o-object-fit: fill;
     object-fit: fill;
  border-radius: 8px;
}
.gallery span img.contain {
    -o-object-fit: contain;
       object-fit: contain;
}

.text-editor-wrap {
  display: block;
  margin: 2rem auto;
  max-width: 640px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 20px 70px;
  clear: both;
  overflow: hidden;
  transition: all 0.5s ease-out;
}
.title-bar {
  color: black;
  padding: 5px 0;
  font-family: "Lucida Grande", sans-serif;
  font-size: 0.75em;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
  background-color: #f8f8f8;
  background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
  border-bottom: #6a6a6a 1px solid;
}
.text-body {
  height: 250px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 10px;
  color: #f0f0f0;
  text-shadow: #000 0px 1px 0px;
  font-family: "Consolas", "Courier New", "Courier";
  font-size: 1.3em;
  line-height: 1.2em;
  font-weight: 500;
  text-align: left;
  overflow: hidden;
  transition: all 0.5s ease-out;
}

.pb-5 {
  padding-bottom: 1.25rem;
}