{{ define "main" }}
<div id="particles-js" class="main grow">
  <div class="relative isolate">
    <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80" aria-hidden="true">
      <div class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-20 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
    </div>
    <div class="py-8 sm:py-16 lg:pb-40">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
          <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl pixelify">{{ .Site.Params.moto }}</h1>
          <p class="mt-2 text-lg leading-8 text-gray-300 neonify">
            <span style="color: #851AE0; font-weight: normal; font-size: 1.5rem; min-width: 150px;" id="objectives"></span>
            chat app
        </p>
          <div class="terminal">
			<div class="title-bar">
                <span class="title">mchat &mdash; bash &mdash; 80x<span class="terminal-height">25</span></span>
            </div>
			<div class="text-body">
				<div class="line">
                    <div class="hostname">
                        <span style="color: #d79921;">root</span>@<span style="color: #98971a">mchat</span> 
                    </div>
                    $ <span id="firstSentence"></span>
                </div>
                <div class="hidden">
                    <div class="hostname">
                        <span style="color: #d79921;">root</span>@<span style="color: #98971a">mchat</span> 
                    </div> 
                    $ <span id="secondSentence"></span>
                </div>
                <div class="hidden">
                    <div class="hostname">
                        <span style="color: #d79921;">root</span>@<span style="color: #98971a">mchat</span> 
                    </div>
                    $ <span id="thirdSentence"></span>
                </div>
                <div class="hidden">
                    <div class="hostname">
                        <span style="color: #d79921;">root</span>@<span style="color: #98971a">mchat</span> 
                    </div>
                    $ <span id="fourthSentence"></span>
                </div>
                <div class="hidden">
                    <div class="hostname">
                        <span style="color: #d79921;">root</span>@<span style="color: #98971a">mchat</span> 
                    </div>
                    $ <span id="fifthSentence"></span>
                </div>
                <div class="hidden">
                    <div class="hostname">
                        <span style="color: #d79921;">root</span>@<span style="color: #98971a">mchat</span> 
                    </div>
                    $ <span id="lastSentence"></span>
                </div>
			</div>
      <div class="text-footer">
        <a href="" class="text-white pixelify"><span class="icon">&#128230;</span> MacOs</a>
        <span class="separator">|</span>
        <a href="" class="text-white pixelify"><span class="icon">&#128230;</span> Windows</a>
        <span class="separator">|</span>
        <a href="" class="text-white pixelify"><span class="icon">&#128230;</span> Linux</a>
        <span class="separator">|</span>
        <a href="" class="text-white pixelify"><span class="icon">&#128241;</span> Webapp</a>
      </div>
		</div>
        </div>
        <div class="screenshots">
            <span style="--i:1">
              <img src="screenshots/1.webp" alt="Screenshot #2" loading="lazy" />
            </span>
            <span style="--i:2">
              <img src="screenshots/2.webp" alt="Screenshot #2" loading="lazy" />
            </span>
            <span style="--i:3">
              <img class="contain" src="screenshots/3.webp" alt="Screenshot #3" loading="lazy" />
            </span>
            <span style="--i:4">
              <img src="screenshots/4.webp" alt="Screenshot #4" loading="lazy" />
            </span>
            <span style="--i:5">
              <img src="screenshots/5.webp" alt="Screenshot #5" loading="lazy" />
            </span>
            <span style="--i:6">
              <img src="screenshots/6.webp" alt="Screenshot #6" loading="lazy" />
            </span>
            <span style="--i:7">
              <img src="screenshots/7.webp" alt="Screenshot #7" loading="lazy" />
            </span>
            <span style="--i:8">
              <img src="screenshots/7.webp" alt="Screenshot #8" loading="lazy" />
            </span>
          </div>
          
          <div class="screenshots-mobile">
            <img src="screenshots/1.webp" loading="lazy" >
        </div>
      </div>
    </div>
</div>
{{ end }}
